.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards>ul>li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

/* card-section-css-start */
main>.section.cards-container {
  margin-top: 100px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.cards-container .default-content-wrapper {
  width: 100%;
  text-align: center;
}

.cards-container .default-content-wrapper p {
  font-family: Arial, Helvetica, sans-serif;
  color: #2b2e8c;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -.01em;
  margin: 0;
  padding: 0;
}


.cards-container .cards-wrapper {
  padding: 0;
  margin-top: 3rem;
}

.cards-container .cards {
  display: flex;
  justify-content: center;
}

.cards-container .cards ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.cards-container .cards ul li {
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
}

.cards-container .cards ul li .cards-card-image {
  text-align: center;
}

.cards-container .cards ul li .cards-card-image img {
  width: 40px;
  height: 40px;
}

.cards-container .cards .cards-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.cards-container .cards .cards-card-body .card-paragraph-1 {
  font-family: Work Sans, sans-serif;
  font-size: 18px;
  color: rgb(43 46 140);
  font-weight: 500;
  line-height: 1.5rem;
}

.cards-container .cards .cards-card-body .card-paragraph-2 {
  font-family: Work Sans, sans-serif;
  color: rgb(109 121 142);
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.cards-container .cards .cards-card-body p {
  margin: 0;
  padding: 0;
}

.cards-container .cards .cards-card-body p .icon {
  width: 40px;
  height: 40px;
}

.cards-container .cards .cards-card-body p .icon img {
  width: 40px;
  height: 40px;
}

/* card-section-css-end */