main > .section.breadcrums-container {
  max-width: 100%;
  width: 93%;
  margin: 0 auto;
  margin-top: 45px;
  margin-bottom: 28px;
}
@media (max-width: 768px) {
  main > .section.breadcrums-container {
    display: none;
  }
}
main > .section.breadcrums-container .breadcrums-wrapper {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums {
  width: 100%;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist1 {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist1 li {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--Dark-200, #262626);
  font-family: "Manrope-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist1 li::after {
  content: "";
  background-image: url(/icons/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  width: 10px;
  height: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist1 li:last-child {
  color: var(--Secondary-Dim-Grey, #646464);
  font-family: "Manrope-Medium";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist1 li:last-child::after {
  display: none;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist2 {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  list-style: none;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist2 li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist2 li .dw-heading {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 8px 8px 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  border: 0.6px solid #DEE0E5;
  background: #FFF;
  color: #0D2042;
  font-family: "Manrope-Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist2 li .dw-heading::after {
  content: "";
  background-image: url(/icons/arrow-down-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist2 li .search-bar {
  margin: 0;
  padding: 0;
  display: flex;
  width: 147px;
  align-items: center;
  gap: 12px;
  border: none;
  outline: none;
  color: #00205B;
  font-family: "Manrope-regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  padding-top: 4px;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist2 li .search-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #E9E9E9;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist2 li .search-wrapper .dropdw-heading {
  margin: 0;
  padding: 0;
  height: 19px;
  flex-shrink: 0;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist2 li .search-wrapper .dropdw-heading .icon {
  width: 100%;
  height: 100%;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist2 li .search-wrapper .dropdw-heading .icon img {
  width: 16px;
  height: 16px;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .button-container {
  margin: 0;
  padding: 0;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .button-container .button {
  margin: 0;
  padding: 0;
  display: flex;
  height: 32px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  background: #001438;
  color: #FFF;
  font-family: "Manrope-Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
  border: none;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .button-container .button::after {
  content: "";
  background-image: url(/icons/arrow-right.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist3 {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 38px;
  right: 0;
  list-style: none;
  display: flex;
  width: 180px;
  padding: 18px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
  background: var(--Primary-Colors-White, #FFF);
  box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.15);
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist3 .breadlist4 {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 130px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist3 .breadlist4 li {
  display: flex;
  height: 22px;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}
main > .section.breadcrums-container .breadcrums-wrapper .breadcrums-container-column .breadlist3 .breadlist4 li a {
  color: #2B4677;
  font-family: "Manrope-Regular";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.6px;
}/*# sourceMappingURL=breadcrums.css.map */