@import url("../carousel/swiper.min.css");

.swiper {
    padding-bottom: 30px;
  
    /* .swiper-pagination {
          margin-top: 25px;
      } */
  }
  
  .swiper .swiper-button-next,
  .swiper .swiper-button-prev {
    display: block;
    width: 30px;
  }

  .swiper .swiper-button-next img,
  .swiper .swiper-button-prev img{
    display: block;
    width: 30px;
    height: 30px;
  }
  
  .swiper .swiper-button-next::after,
  .swiper .swiper-button-prev::after {
    display: none;
  }

  .swiper .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
  }
  
  .swiper .swiper-pagination-bullet-active {
    background-color: gray;
    width: 11px;
    height: 11px;
    border-radius: 20px;
  }
  
  .swiper .swiper-slide > div > picture > img {
    width: 100%;
    object-fit: fill;
  }
  
  .section.highlights {
    padding: unset;
    height: 170px;
  }
  
  @media screen and (width <= 767px) {
    .section.highlights {
      height: unset;
    }
  }
  
  .section.highlights > div:nth-of-type(1) {
    font-size: 18px;
    font-weight: var(--font-semi-bold);
    color: var(--white);
    text-align: center;
  }
  
  .section.highlights > div:nth-of-type(2) {
    margin-top: 20px;
  }
  
  .section.highlights .swiper {
    width: 50%;
  }
  
  @media screen and (width <= 767px) {
    .section.highlights .swiper {
      width: 100%;
    }
  }
  
  .section.newcarousel-container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .section.newcarousel-container .newcarousel-wrapper .newcarousel .swiper-wrapper .swiper-slide{
    display: flex;
    gap: 10px;
    height: 200px;
    border: 1px solid rgb(230, 229, 229);
  }

  .section.newcarousel-container .newcarousel-wrapper .newcarousel .swiper-wrapper .swiper-slide .image-desktop picture,
  .section.newcarousel-container .newcarousel-wrapper .newcarousel .swiper-wrapper .swiper-slide .image-mobile picture{
    width: 50%;
  }

  .section.newcarousel-container .newcarousel-wrapper .newcarousel .swiper-wrapper .swiper-slide .image-desktop img,
  .section.newcarousel-container .newcarousel-wrapper .newcarousel .swiper-wrapper .swiper-slide .image-mobile img{
    width: 100%;
    height: 100%;
  }

  .section.newcarousel-container .newcarousel-wrapper .newcarousel .swiper-wrapper .swiper-slide .image-con p:last-child{
    display: none;
  }

  .section.newcarousel-container .newcarousel-wrapper .newcarousel .swiper-wrapper .swiper-slide .embed{
    width: 53%;
    height: 200px;
    display: block;
  }

  .section.newcarousel-container .newcarousel-wrapper .newcarousel .swiper-wrapper .swiper-slide .embed >div{
    height: 100% !important;
  }

  .section.newcarousel-container .newcarousel-wrapper .newcarousel .swiper-wrapper .swiper-slide >.embed >div iframe{
    height: 200px;
    max-height: 200px;
  }