main>.section.favourite-corner-container {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 94.12%;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: auto;
        padding: 40px 20px;
    }

    .favourite-corner-wrapper {
        margin: 0;
        padding: 0;
        min-width: 100%;
        width: 100%;
        position: relative;

        .favourite-corner {
            @media (max-width: 768px) {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

            }

            &-container {
                &.corner-1 {
                    .column-1 {
                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 16px;

                            @media (max-width: 500px) {
                                height: 192px;
                            }
                        }
                    }
                }

                &.corner-2 {
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;

                    @media (max-width: 768px) {
                        position: unset;
                    }

                    .column-1 {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 4px;
                        border-radius: 16px;

                        p {
                            margin: 0;
                            padding: 0;
                        }

                        p:nth-child(1) {
                            color: #0D2042;
                            text-align: center;
                            font-family: "Manrope-Bold";
                            font-size: 44px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 52.8px;
                            padding-top: 81px;

                            @media (max-width: 768px) {
                                padding-top: 0;
                                font-size: 24px;
                                line-height: 28.8px;
                            }
                        }

                        p:nth-child(2) {
                            color: var(--Neutrals-N800, #0D2042);
                            text-align: center;
                            font-family: "Manrope-Regular";
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 25.6px;

                            @media (max-width: 768px) {
                                font-size: 14px;
                                line-height: 18.2px;
                            }
                        }

                        .button-container {
                            margin-top: 20px;

                            @media (max-width: 768px) {
                                margin-top: 16px;
                            }

                            .button {
                                margin: 0;
                                padding: 0;
                                display: flex;
                                padding: 16px 32px;
                                justify-content: center;
                                align-items: center;
                                gap: 8px;
                                border-radius: 16px;
                                border: 0px solid #001438;
                                background: #001438;
                                color: #FFF;
                                font-family: "Manrope-Bold";
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 16px;

                                @media (max-width: 768px) {
                                    font-size: 12px;
                                    line-height: 16px;
                                }

                                &::after {
                                    content: "";
                                    background-image: url(/icons/arrow-right.svg);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 100%;
                                    display: flex;
                                    width: 16px;
                                    height: 16px;
                                    justify-content: center;
                                    align-items: center;
                                    flex-shrink: 0;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}