main > .section.accordion-container {
  max-width: 100%;
  width: 94.12%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  gap: 80px;
}
@media (max-width: 1025px) {
  main > .section.accordion-container {
    gap: 40px;
  }
}
@media (max-width: 768px) {
  main > .section.accordion-container {
    flex-direction: column;
    width: auto;
    padding: 40px 20px;
    gap: 32px;
  }
}
main > .section.accordion-container .default-content-wrapper {
  width: 30%;
  padding: 0;
  margin: 0;
  height: auto;
  border-radius: 16px;
  background: var(--Primary-P25, #FDE8ED);
}
@media (max-width: 1025px) {
  main > .section.accordion-container .default-content-wrapper {
    width: 35%;
  }
}
@media (max-width: 768px) {
  main > .section.accordion-container .default-content-wrapper {
    width: 100%;
  }
}
main > .section.accordion-container .default-content-wrapper ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  list-style: none;
}
@media (max-width: 1025px) {
  main > .section.accordion-container .default-content-wrapper ul {
    padding: 24px 32px;
  }
}
main > .section.accordion-container .default-content-wrapper ul li {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
  color: #0D2042;
  font-family: "Manrope-Bold";
  font-weight: 700;
  line-height: 52.8px;
}
@media (max-width: 1025px) {
  main > .section.accordion-container .default-content-wrapper ul li {
    gap: 8px;
  }
}
main > .section.accordion-container .default-content-wrapper ul li:nth-child(1) {
  font-size: 44px;
  line-height: 52.8px;
}
@media (max-width: 1025px) {
  main > .section.accordion-container .default-content-wrapper ul li:nth-child(1) {
    font-size: 29px;
    line-height: 30.8px;
  }
}
@media (max-width: 768px) {
  main > .section.accordion-container .default-content-wrapper ul li:nth-child(1) {
    font-size: 16px;
    line-height: 20.8px;
  }
}
main > .section.accordion-container .default-content-wrapper ul li:nth-child(2) {
  font-size: 16px;
  line-height: 20.8px;
}
@media (max-width: 1025px) {
  main > .section.accordion-container .default-content-wrapper ul li:nth-child(2) {
    font-size: 14px;
    line-height: 19.8px;
  }
}
@media (max-width: 768px) {
  main > .section.accordion-container .default-content-wrapper ul li:nth-child(2) {
    font-size: 16px;
    line-height: 20.8px;
  }
}
main > .section.accordion-container .default-content-wrapper ul li:nth-child(3) {
  font-size: 28px;
  line-height: 36.4px;
}
@media (max-width: 1025px) {
  main > .section.accordion-container .default-content-wrapper ul li:nth-child(3) {
    font-size: 18px;
    line-height: 20.8px;
  }
}
@media (max-width: 768px) {
  main > .section.accordion-container .default-content-wrapper ul li:nth-child(3) {
    font-size: 16px;
    line-height: 20.8px;
  }
}
main > .section.accordion-container .default-content-wrapper ul li:nth-child(4) {
  font-size: 28px;
  line-height: 36.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
@media (max-width: 1025px) {
  main > .section.accordion-container .default-content-wrapper ul li:nth-child(4) {
    font-size: 18px;
    line-height: 20.8px;
  }
}
@media (max-width: 768px) {
  main > .section.accordion-container .default-content-wrapper ul li:nth-child(4) {
    font-size: 16px;
    line-height: 20.8px;
  }
}
main > .section.accordion-container .accordion-wrapper {
  width: 55%;
  padding: 0;
  margin: 0;
}
@media (max-width: 1024px) {
  main > .section.accordion-container .accordion-wrapper {
    width: 60%;
  }
}
@media (max-width: 768px) {
  main > .section.accordion-container .accordion-wrapper {
    width: 100%;
  }
}
main > .section.accordion-container .accordion-wrapper .accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
main > .section.accordion-container .accordion-wrapper .accordion .accordion-sec-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
  align-self: stretch;
}
main > .section.accordion-container .accordion-wrapper .accordion .accordion-sec-container-column {
  width: 100%;
}
main > .section.accordion-container .accordion-wrapper .accordion .accordion-sec-container-column .accordion-question {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid var(--Neutrals-N40, #DEE0E5);
  padding-bottom: 42px;
  border-radius: unset;
  font-size: unset;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: space-between;
  white-space: inherit;
}
main > .section.accordion-container .accordion-wrapper .accordion .accordion-sec-container-column .accordion-question::after {
  content: "";
  background-image: url(/icons/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #667288;
  border-radius: 50%;
}
main > .section.accordion-container .accordion-wrapper .accordion .accordion-sec-container-column .accordion-question.open {
  border: none;
  padding: inherit;
}
main > .section.accordion-container .accordion-wrapper .accordion .accordion-sec-container-column .accordion-question.open::after {
  background-image: url(/icons/negative-icon.svg);
  background-size: 40%;
}
main > .section.accordion-container .accordion-wrapper .accordion .accordion-sec-container-column .accordion-question p {
  margin: 0;
  padding: 0;
  color: #2E3E5C;
  font-family: "Manrope-Bold";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20.8px;
}
main > .section.accordion-container .accordion-wrapper .accordion .accordion-sec-container-column.accordion-answer {
  width: 100%;
  padding-bottom: 36px;
  border-bottom: 1px solid var(--Neutrals-N40, #DEE0E5);
}
main > .section.accordion-container .accordion-wrapper .accordion .accordion-sec-container-column.accordion-answer p {
  margin: 0;
  padding: 0;
  color: var(--Neutrals-N600, #2E3E5C);
  font-family: "Manrope-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-right: 99px;
}
@media (max-width: 768px) {
  main > .section.accordion-container .accordion-wrapper .accordion .accordion-sec-container-column.accordion-answer p {
    padding-right: 40px;
    line-height: 22px;
  }
}/*# sourceMappingURL=accordion.css.map */