/* header and nav layout */
header {
    height: auto;

    .header {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .nav-wrapper {
        width: 100%;
        position: fixed;
        top: 0;
        background-color: var(--background-color);
        padding: 20px;
        z-index: 2;
    }

    nav {
        position: relative;
        max-width: 94.12%;
        width: 100%;
        margin: 0 auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        font-family: var(--body-font-family);

        .nav-brand {
            width: 14%;

            img {
                width: 150px;
                height: auto;
            }
        }

        .header-sub-container {
            display: none;

            .header-sub-wrapper {
                // display: block;
                // width: 100%;
                // position: absolute;
                // top: 115px;
                // left: 0px;
                // background: #fff;
                // box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 20px 40px rgba(0, 0, 0, .18);

                .header-sub {
                    // display: block;
                    width: 100%;
                    position: absolute;
                    top: 115px;
                    left: 0px;
                    background: #fff;
                    box-shadow: 0 0 2px rgba(0, 0, 0, .1), 0 20px 40px rgba(0, 0, 0, .18);

                    .hd-ntd-cnt {
                        &>ul {
                            display: flex;
                            justify-content: space-between;
                            padding: 40px;
                        }

                        ul {
                            list-style: none;
                        }
                    }
                }

            }
        }
    }

    .nav-hamburger {
        display: none;
    }

    .nav-Content {
        width: 86%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .nav-sections {
            padding-bottom: 15px;
            border-bottom: 1px solid #5f1212;

            .content-wrapper {
                display: flex;
                justify-content: space-between;

                .nav-list {
                    display: flex;
                    list-style: none;
                    gap: 40px;

                    li {
                        p {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }

                    .nav-drop {
                        .nav-lang {
                            display: none;
                        }
                    }
                }
            }
        }

        .nav-tools {
            .menu-wrapper {
                display: flex;
                justify-content: space-between;

                .menu-list {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    .dropdown {
                        position: relative;

                        .dropdown-btn {
                            width: 84%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            background-color: #f0f0ff;
                            color: #2b2e8c;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 24px;
                            padding: 5px 10px;
                            margin-right: 16px;
                            border-radius: 20px;
                            border: 1px solid #0d0f54;
                            cursor: pointer;

                            &::after {
                                content: "";
                                background-image: url(/icons/arrow-down-black.svg);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: 100%;
                                display: flex;
                                width: 20px;
                                height: 20px;
                                justify-content: center;
                                align-items: center;
                                flex-shrink: 0;
                            }

                            &.active {
                                &::after {
                                    transform: rotate(180deg);

                                }
                            }
                        }

                        .dropdown-content {
                            display: none;
                            position: absolute;
                            background-color: #ffffff;
                            margin-top: 2px;
                            padding: 8px 0px;
                            border-radius: 5px;
                            opacity: 1;
                            transform: none;
                            min-width: 119px;
                            transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1), transform 167ms cubic-bezier(0.4, 0, 0.2, 1);
                            transform-origin: 155px 0px;
                            list-style: none;
                            z-index: 1;
                        }

                        .dropdown-content li {
                            background-color: transparent;
                            outline: 0px;
                            border: 0px;
                            margin: 0px;
                            border-radius: 0px;
                            cursor: pointer;
                            user-select: none;
                            vertical-align: middle;
                            appearance: none;
                            color: inherit;
                            font-family: Roboto, Helvetica, Arial, sans-serif;
                            font-weight: 400;
                            font-size: 1rem;
                            line-height: 1.5;
                            letter-spacing: 0.00938em;
                            display: flex;
                            justify-content: flex-start;
                            align-items: center;
                            position: relative;
                            text-decoration: none;
                            min-height: auto;
                            box-sizing: border-box;
                            white-space: nowrap;
                            padding: 0px;

                            a {
                                width: 100%;
                                display: block;
                                color: #2b2e8c;
                                padding: 6px 16px;
                                border-radius: 5px;
                                text-decoration: none;
                            }
                        }

                        .dropdown-content li a:hover {
                            background-color: rgba(25, 118, 210, 0.08);
                        }
                    }

                }

                & ul {
                    display: flex;
                    list-style: none;

                    li {
                        ul {
                            display: none;
                        }
                    }
                }

                p {
                    display: flex;
                    align-items: center;
                }

                .button-container {
                    background-color: transparent;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 4px;

                    &::after {
                        content: "";
                        background-image: url(/icons/arrow-down-black.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 100%;
                        display: flex;
                        width: 16px;
                        height: 16px;
                        justify-content: center;
                        align-items: center;
                        flex-shrink: 0;
                    }

                    &.active {
                        &::after {
                            transform: rotate(180deg);

                        }
                    }

                    .button {
                        margin: 0;
                        padding: 0;
                        background-color: transparent;
                        color: #2b2e8c;
                        max-width: 100%;
                        font-family: var(--body-font-family);
                        font-size: 14px;
                        font-weight: 500;
                        // line-height: 1.25;
                        text-align: center;
                        text-decoration: none;
                        cursor: pointer;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        border: none;
                        border-radius: unset;
                    }

                    &.btn-cont {
                        &::after {
                            content: unset;
                        }

                        .login-btn {
                            background-color: #2b2e8c;
                            color: #fff;
                            border-radius: 20px;
                            padding: 6px 23px;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 500;
                        }
                    }

                }
            }
        }
    }
}