main > .section {
  margin: 0;
}
main > .section ul {
  list-style: none;
}
main > .section.banner-flexicap-container {
  display: flex;
  flex-direction: column;
  background-image: url(/icons/flexicap-fund-desk.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}
main > .section .banner-flexicap-wrapper {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund {
  margin-top: 2.25rem;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-1 > div {
  width: 100%;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-1 > div h3 {
  color: #2B2E8C;
  font-family: Butler, Work Sans, sans-serif;
  font-weight: 600;
  font-size: 56px;
  line-height: 75px;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-1 > div h1 {
  color: #2B2E8C;
  font-size: 28px;
  line-height: 36px;
  text-transform: capitalize;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-1 ul > li > ul {
  display: none;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-1 .flexicap-fund-ul-1 {
  margin-top: 0.75rem;
  margin-bottom: 40px;
  margin-left: 2px;
  align-items: center;
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-1 .flexicap-fund-ul-1 .flexicap-list-1 p {
  display: flex;
  gap: 10px;
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 28px;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  border: none;
  text-align: left;
  padding: 4px 2px 4px 0;
  color: #000;
  background: url(/assets/images/arrow_drop_down_white.svg) 76% 61%/16px no-repeat;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-1 .flexicap-fund-ul-1 .flexicap-list-1 p::after {
  content: "";
  background-image: url(/icons/arrow-down-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-1 .button-container {
  margin-bottom: 70px;
  margin-top: 0.75rem;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-1 .button-container .button {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
  background: #2b2e8c;
  border-radius: 8px;
  border: solid #2b2e8c;
  padding: 0;
  cursor: pointer;
  height: 50px;
  width: 200px;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffcf00;
  padding: 7px 0;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 .flexicap-fund-ul-3 {
  display: flex;
  flex: 0 0 58%;
  max-width: 58%;
  padding-left: 20px;
  align-items: center;
  gap: 5px;
  height: 38px;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 .flexicap-fund-ul-3 li {
  color: #3c434f;
  font-family: "roboto-regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 .flexicap-fund-ul-3 .flexicap-list-8 {
  color: #3c434f;
  font-family: "roboto-medium";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 .flexicap-fund-ul-3 .flexicap-list-9 {
  padding-left: 10px;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 .flexicap-fund-ul-3 .flexicap-list-9 p {
  display: flex;
  white-space: nowrap;
  align-items: center;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 .flexicap-fund-ul-3 .flexicap-list-9 p::after {
  content: "";
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 28px;
  background-image: url(/icons/arrow_drop_down.svg);
  background-repeat: no-repeat;
  background-position: 90% 70%;
  background-size: 35px;
  background-color: transparent;
  font-family: roboto-medium;
  font-size: 14px;
  font-weight: 500;
  border: none;
  text-align: left;
  color: #000;
  padding-left: 34px;
  padding-top: 24px;
  padding-bottom: 0;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 .flexicap-fund-ul-3 .flexicap-list-9 .flexicap-fund-ul-4 {
  display: none;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 .flexicap-fund-ul-3 .flexicap-list-14 {
  padding-left: 15px;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 .flexicap-fund-ul-3 .flexicap-list-15 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: #3c434f;
  font-family: "roboto-medium";
  font-style: normal;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column.subtxt-1 .flexicap-fund-ul-3 .flexicap-list-16 {
  color: #3c434f;
  font-family: "roboto-medium";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column .contact-links {
  display: flex;
  flex: 0 0 38%;
  max-width: 38%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  justify-content: flex-end;
  gap: 15px;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column .contact-links > p {
  display: flex;
  color: #2B2E8C;
  padding: 0.25rem 1rem;
  line-height: 1.25rem;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  gap: 0.5rem;
  align-items: center;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column .contact-links > p::after {
  content: "";
  background-image: url(/icons/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column .contact-links .flexicap-fund-ul-5 {
  display: flex;
  color: #2B2E8C;
  padding: 0.25rem 1rem;
  line-height: 1.25rem;
  font-size: 14px;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  gap: 0.5rem;
  align-items: center;
}
main > .section .banner-flexicap-wrapper .banner-flexicap .flexicap-fund.sec-2 .flexicap-fund-column .contact-links .flexicap-fund-ul-5 .flexicap-fund-ul-6 {
  display: none;
}/*# sourceMappingURL=banner-flexicap.css.map */