@import '../../styles/common-theme/css/_fluid-typography.scss';
@import '../../styles/common-theme/css/_variables_mixins.scss';
@import '../../styles/fonts.css';

main>.section {
    margin: 0;

    ul {
        list-style: none;
    }

    &.banner-flexicap-container {
        display: flex;
        flex-direction: column;
        // background-image: url(/icons/flexicap-fund-desk.jpg);
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: 50%;

    }

    .banner-flexicap-wrapper {
        background-image: url(/icons/flexicap-fund-desk.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        max-width: inherit;
        padding: 0;
        margin: 0;


        .banner-flexicap {
            max-width: 1172px;
            width: 100%;
            margin: 0 auto;
            padding: 0;

            .flexicap-fund {
                margin-top: 2.25rem;

                &.sec-1 {
                    >div {
                        width: 100%;

                        h3 {
                            // color: #2B2E8C;
                            // color: $blue-100;
                            // font-family: $butler;
                            // font-weight: map-get($font-weights, Bold);
                            // font-size: rem(56px);
                            // line-height: rem(76px);
                            @include fonts(rem(56px), rem(76px) ,$primary-blue, $butler);
                        }

                        h1 {
                            color: #2B2E8C;
                            font-size: 28px;
                            line-height: 36px;
                            text-transform: capitalize;
                        }
                    }

                    ul>li>ul {
                        display: none;
                    }

                    .flexicap-fund-ul-1 {
                        margin-top: .75rem;
                        margin-bottom: 40px;
                        margin-left: 2px;
                        // padding-bottom: 10px;
                        align-items: center;
                        gap: 12px;
                        display: flex;
                        flex-wrap: wrap;
                        // margin-right: -15px;

                        .flexicap-list-1 {
                            position: relative;

                            p {
                                display: flex;
                                gap: 10px;
                                align-items: center;
                                appearance: none;
                                border-radius: 28px;
                                font-family: 'Butler-bold';
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 21px;
                                border: none;
                                text-align: left;
                                padding: 4px 2px 4px 0;
                                color: #000;
                                background: url(/assets/images/arrow_drop_down_white.svg) 76% 61% / 16px no-repeat;
                                cursor: pointer;

                                &::after {
                                    content: "";
                                    background-image: url(/icons/arrow_drop_down.svg);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 100%;
                                    display: flex;
                                    width: 30px;
                                    height: 20px;
                                    justify-content: center;
                                    align-items: center;
                                    flex-shrink: 0;
                                }
                            }

                            .flexicap-fund-ul-2 {
                                background-color: #8f8a8a;
                                border-radius: 8px;
                                padding: 11px;
                                min-width: 350px;
                                position: absolute;
                                top: 35px;

                                li {
                                    color: #2B2E8C;
                                    font-family: 'roboto-medium';
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 20px;

                                    &:hover {
                                        background-color: rgb(208, 232, 255);
                                    }
                                }
                            }
                        }
                    }

                    .button-container {
                        margin-bottom: 70px;
                        margin-top: .75rem;

                        .button {
                            margin: 0;
                            padding: 0;
                            font-family: 'roboto-medium';
                            font-size: 18px;
                            font-weight: 500;
                            line-height: normal;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            color: #fff;
                            background: #2b2e8c;
                            border-radius: 8px;
                            border: solid #2b2e8c;
                            padding: 0;
                            cursor: pointer;
                            height: 50px;
                            width: 200px;
                        }
                    }
                }

                &.sec-2 {
                    max-width: 1172px;
                    width: 100%;
                    margin: 0 auto;
                    background-color: #ffcf00;
                    padding: 7px 0;

                    .flexicap-fund-column {
                        &.subtxt-1 {
                            display: flex;
                            align-items: center;
                            flex-wrap: nowrap;
                            gap: 0.5rem;

                            .flexicap-fund-ul-3 {
                                display: flex;
                                flex: 0 0 58%;
                                max-width: 58%;
                                padding-left: 20px;
                                align-items: center;
                                gap: 5px;
                                height: 38px;

                                li {
                                    color: #3c434f;
                                    font-family: 'roboto-regular';
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px;
                                }

                                .flexicap-list-8 {
                                    color: #3c434f;
                                    font-family: 'roboto-medium';
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 20px;
                                }

                                .flexicap-list-9 {
                                    padding-left: 10px;
                                    cursor: pointer;

                                    p {
                                        display: flex;
                                        white-space: nowrap;
                                        align-items: center;

                                        &::after {
                                            content: "";
                                            display: block;
                                            appearance: none;
                                            border-radius: 28px;
                                            background-image: url(/icons/arrow_drop_down.svg);
                                            background-repeat: no-repeat;
                                            background-position: 90% 70%;
                                            background-size: 35px;
                                            background-color: transparent;
                                            font-family: 'roboto-medium';
                                            font-size: 14px;
                                            font-weight: 500;
                                            border: none;
                                            text-align: left;
                                            color: #000;
                                            padding-left: 34px;
                                            padding-top: 24px;
                                            padding-bottom: 0;
                                        }
                                    }

                                    .flexicap-fund-ul-4 {
                                        display: none;
                                    }
                                }

                                .flexicap-list-14 {
                                    padding-left: 15px;
                                }

                                .flexicap-list-15 {
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    color: #3c434f;
                                    font-family: 'roboto-medium';
                                    font-style: normal;
                                }

                                .flexicap-list-16 {
                                    color: #3c434f;
                                    font-family: 'roboto-medium';
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 16px;
                                }
                            }

                        }

                        .contact-links {
                            display: flex;
                            flex: 0 0 38%;
                            max-width: 38%;
                            position: relative;
                            width: 100%;
                            padding-right: 15px;
                            justify-content: flex-end;
                            gap: 15px;

                            >p {
                                display: flex;
                                padding: 0.25rem 1rem;
                                line-height: 1.25rem;
                                background-color: rgb(255 255 255);
                                border-radius: .5rem;
                                gap: .5rem;
                                align-items: center;
                                color: #3c434f;
                                font-family: 'roboto-regular';
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 16px;
                                cursor: pointer;

                                &::after {
                                    content: "";
                                    background-image: url(/icons/arrow-right-black.svg);
                                    background-repeat: no-repeat;
                                    background-position: center;
                                    background-size: 100%;
                                    display: flex;
                                    width: 13px;
                                    height: 13px;
                                    justify-content: center;
                                    align-items: center;
                                    flex-shrink: 0;
                                }

                                .button {
                                    margin: 0;
                                    padding: 0;
                                    color: #3c434f;
                                    font-family: 'roboto-regular';
                                    font-size: 14px;
                                    font-weight: 400;
                                    line-height: 16px;
                                    cursor: pointer;
                                    background-color: transparent;
                                }
                            }

                            .flexicap-fund-ul-5 {
                                display: flex;
                                color: #2B2E8C;
                                padding: 0.25rem 1rem;
                                line-height: 1.25rem;
                                font-size: 14px;
                                background-color: rgb(255 255 255);
                                border-radius: .5rem;
                                gap: .5rem;
                                align-items: center;
                                position: relative;
                                cursor: pointer;

                                .flexicap-fund-ul-6 {
                                    width: 45px;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    background: #887d7d;
                                    border-radius: 4px 4px 0 0;
                                    border: 1px solid #1d294e;
                                    background: #1d294e;
                                    padding: 2px;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: opacity 0.2s ease, visibility 0.2s ease;
                                    z-index: 2;
                                    display: none;

                                    li {
                                        padding: 3px;
                                        border-bottom: 1px dashed hsla(0, 0%, 100%, .3);

                                        img {
                                            width: auto;
                                            height: auto;
                                        }
                                    }
                                }

                            }

                            .flexicap-fund-ul-5:hover .flexicap-fund-ul-6 {
                                display: block;
                                opacity: 1;
                                visibility: visible;
                                display: flex;
                                flex-direction: column;
                                text-align: center;
                                justify-content: flex-start;
                                text-align: left;
                            }
                        }
                    }
                }

                // &.sec-3 {
                //     display: none;
                // }
            }
        }
    }

    .flexicap-form-wrapper {
        display: none;
    }

    .flexicap-form-wrapper {
        position: fixed;
        width: 100%;
        max-width: inherit;
        z-index: 100;
        margin: 0;
        padding: 0;
        inset: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100%;

        .flexicap-form {
            max-width: 816px;
            width: 100%;
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            background-color: #fff;
            padding: 10px;

            .form-container {
                display: flex;
                border-radius: 10px;
                padding: 16px;
                background: transparent linear-gradient(180deg, #364881, #45357d 51%, #5d1c79) 0 0 no-repeat padding-box;

                .form-section-top {
                    color: #fff;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    flex: 1;

                    .form-item-1 {
                        p {
                            font-family: 'roboto-bold';
                            font-size: 37px;
                            font-weight: 700;
                            font: normal normal 700 28px / 37px roboto-bold;
                            padding-bottom: 20px;
                            margin: 0;
                        }
                    }

                    .form-item-2 {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .form-section-bottom {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    background-color: #fff;
                    border-radius: 8px;
                    padding: 20px;
                    width: 350px;

                    .form-item-3 {
                        p {
                            padding-bottom: 20px;
                            font-family: 'roboto-bold';
                            font-size: 26px;
                            font-weight: 700;
                            // font: normal normal 700 20px / 26px roboto-bold;
                            color: #311e69;
                        }
                    }

                    .form-sec {
                        .form-pl {
                            .user-form {
                                display: flex;
                                flex-direction: column;

                                .customInput {
                                    padding-bottom: 25px;
                                    display: flex;

                                    input {
                                        padding: 16px 14px;
                                        font-size: 15px;
                                        position: relative;
                                        transition: all .3s ease-in-out;
                                        width: 100%;
                                        border: 1px solid #dfe1e6;
                                        border-radius: 5px;
                                        color: #6a738a;
                                        flex: 1 0 0;
                                    }
                                }

                                .form-submit {
                                    width: 100%;
                                    height: 44px;
                                    background: #2b2e8c 0 0 no-repeat padding-box;
                                    border-radius: 3px;
                                    font: normal normal 700 16px / 21px Roboto;
                                    color: #fff;
                                    margin: 0 auto 15px;
                                    cursor: pointer;
                                    font-family: 'roboto-bold';
                                    font-size: 16px;
                                    font-weight: 700;
                                    line-height: 21px;
                                    // font: normal normal 700 20px / 26px roboto-bold;
                                }

                            }
                        }
                    }

                    .form-item-4 {
                        padding: 15px 8px 0;

                        p {
                            font-family: 'roboto-regular';
                            font-size: 13px;
                            font-weight: 400;
                            color: #bbbdc4;
                            line-height: normal;
                        }
                    }

                }
            }

            .close {
                position: absolute;
                right: -15px;
                top: -15px;
                background-color: #fff;
                border-radius: 50%;
                cursor: pointer;
                font-size: 19px;
                width: 35px;
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}