@import url(../tabs/tabs.scss);
main > .section.our-service-container {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 94.12%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 768px) {
  main > .section.our-service-container {
    width: auto;
    padding: 0 20px;
  }
}
main > .section.our-service-container > .default-content-wrapper {
  width: auto;
  text-align: center;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media (max-width: 768px) {
  main > .section.our-service-container > .default-content-wrapper {
    padding-bottom: 32px;
  }
}
main > .section.our-service-container > .default-content-wrapper p {
  margin: 0;
  padding: 0;
  color: #0D2042;
  text-align: center;
  font-weight: 700;
  font-family: "Manrope-Bold";
}
main > .section.our-service-container > .default-content-wrapper p:nth-child(1) {
  font-size: 35px;
  line-height: 45.5px;
}
main > .section.our-service-container > .default-content-wrapper p:nth-child(2) {
  font-size: 21px;
  line-height: 27.3px;
}
main > .section.our-service-container .our-service-wrapper {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  position: relative;
}
main > .section.our-service-container .our-service-wrapper .our-service {
  display: flex;
  align-items: flex-start;
  gap: 80px;
}
@media (max-width: 1025px) {
  main > .section.our-service-container .our-service-wrapper .our-service {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service {
    flex-direction: column;
  }
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list {
  display: flex;
  flex-direction: column;
  display: flex;
  width: 340px;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}
@media (max-width: 1025px) {
  main > .section.our-service-container .our-service-wrapper .our-service .tabs-list {
    width: 304px;
  }
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service .tabs-list {
    width: 100%;
  }
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 16px 24px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-align: initial;
  text-overflow: unset;
  overflow: unset;
  border: unset;
  white-space: unset;
  transition: background-color 0.2s;
  border-radius: unset;
  background: #fff;
  border-bottom: 1px solid #BFC7E8;
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab {
    border: unset;
  }
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab p {
  margin: 0;
  padding: 0;
  color: #001438;
  text-align: center;
  font-family: "Manrope-Regular";
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.3px;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab[aria-selected=true] {
  background-color: var(--background-color);
  cursor: initial;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab[aria-selected=true] p {
  font-size: var(--Typeface-Size-Body-2, 21px);
  font-weight: 700;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab[aria-selected=true]::after {
  content: "";
  background-image: url(/icons/arrow-right-red.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
@media (max-width: 768px) {
  main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-tab[aria-selected=true]::after {
    display: none;
  }
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-wrapper {
  display: flex;
  padding: 12px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-bottom: 1px solid #BFC7E8;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-wrapper .tabs-tab::after {
  content: "";
  background-image: url(/icons/plus-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid #667288;
  border-radius: 50%;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-wrapper .tabs-tab[aria-selected=true]::after {
  background-image: url(/icons/negative-icon.svg);
  background-size: 40%;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-list .tabs-wrapper .tabs-panel {
  padding-left: 24px;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panels-wrapper {
  height: 100%;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel {
  margin: 0;
  padding: 0;
  border: none;
  overflow: auto;
  height: 100%;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel[aria-hidden=true] {
  display: none;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 19.256px;
  flex-shrink: 0;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container .default-content-wrapper p {
  margin: 0;
  padding: 0;
  color: #001438;
  font-family: "Manrope-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container .swiper-sec-wrapper .swiper-sec {
  overflow: hidden;
  padding-bottom: 28px;
  height: auto;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container .swiper-sec-wrapper .swiper-sec .swiper-wrapper {
  display: flex;
  align-items: center;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container .swiper-sec-wrapper .swiper-sec .swiper-wrapper .swiper-slide {
  width: 32.7%;
  border-radius: 16px;
}
@media (max-width: 1025px) {
  main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container .swiper-sec-wrapper .swiper-sec .swiper-wrapper .swiper-slide {
    width: 45%;
  }
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container .swiper-sec-wrapper .swiper-sec .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container .swiper-sec-wrapper .swiper-sec .swiper-wrapper .swiper-slide .swiper-slide-cards-1 {
  width: auto;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container .swiper-pagination {
  width: 100%;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container .swiper-pagination .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  flex-shrink: 0;
  background-color: #949CAB;
}
main > .section.our-service-container .our-service-wrapper .our-service .tabs-panel .button-container .swiper-sec-container .swiper-pagination .swiper-pagination-bullet-active {
  width: 23.5px;
  height: 4px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #E91A4E;
}/*# sourceMappingURL=our-service.css.map */