@import url("../testimonial/swiper-bundle.min.css");
main > .section.why-choose-us-container {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 87.3%;
  margin: 0 auto;
  padding-bottom: 80px;
}
@media (max-width: 1025px) {
  main > .section.why-choose-us-container {
    width: auto;
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  main > .section.why-choose-us-container {
    width: auto;
    padding: 0 20px;
    padding-bottom: 40px;
  }
}
main > .section.why-choose-us-container .default-content-wrapper {
  padding-bottom: 64px;
  max-width: 100%;
  padding: 0;
  padding-bottom: 20px;
}
main > .section.why-choose-us-container .default-content-wrapper h3 {
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
  color: #0D2042;
  font-family: "Manrope-Bold";
  font-size: 35px;
  font-weight: 700;
  line-height: 45.5px;
}
@media (max-width: 768px) {
  main > .section.why-choose-us-container .default-content-wrapper h3 {
    font-size: 24px;
    line-height: 28.8px;
  }
}
main > .section.why-choose-us-container .default-content-wrapper p {
  padding: 0;
  margin: 0;
  color: #0D2042;
  font-family: "Manrope-Bold";
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  text-align: center;
}
@media (max-width: 768px) {
  main > .section.why-choose-us-container .default-content-wrapper p {
    font-size: 21px;
    line-height: 20.8px;
  }
}
main > .section.why-choose-us-container .default-content-wrapper p:nth-child(1) {
  font-size: 24px;
  font-family: "Manrope-Bold";
  font-weight: 700;
  line-height: 27.3px;
}
main > .section.why-choose-us-container .default-content-wrapper .button-container {
  width: 100%;
  padding-top: 27px;
}
main > .section.why-choose-us-container .default-content-wrapper .button-container .button {
  margin: 0;
  padding: 0;
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid var(--Secondary-S500, #001438);
  background: var(--Primary-Clean-White, #FFF);
  color: #001438;
  font-size: 14px;
  font-family: "Manrope-Bold";
  font-weight: 700;
  line-height: 16px;
}
@media (max-width: 768px) {
  main > .section.why-choose-us-container .default-content-wrapper .button-container .button {
    font-size: 12px;
    line-height: 16px;
    padding: 16px 32px;
    gap: 8px;
  }
}
main > .section.why-choose-us-container .default-content-wrapper .button-container .button::after {
  content: "";
  background-image: url(/icons/arrow-right-black.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
main > .section.why-choose-us-container .why-choose-us-wrapper {
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us {
  overflow: hidden;
  padding-bottom: 35px;
  height: auto;
}
@media (max-width: 768px) {
  main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us {
    padding-bottom: 25px;
  }
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us.swiper.swiper-initialized .swiper-wrapper {
  gap: unset;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us.swiper.swiper-initialized .swiper-wrapper .swiper-slide {
  width: 286.047px !important;
}
@media (max-width: 768px) {
  main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us.swiper.swiper-initialized .swiper-wrapper .swiper-slide {
    width: 220.954px !important;
    height: auto;
  }
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide {
  position: relative;
  width: 23.6%;
  display: flex;
  height: 100%;
  align-items: center;
  gap: 18px;
  flex-shrink: 0;
  border-radius: 16px;
  height: auto;
  overflow: hidden;
}
@media (max-width: 1200px) {
  main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide {
    width: 23.6%;
  }
}
@media (max-width: 768px) {
  main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide {
    width: 220.954px !important;
    height: auto;
  }
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-1 {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-1 img {
  width: 100%;
  height: 100%;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: flex-end;
  border-radius: 12px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 13.86%, rgba(0, 0, 0, 0) 45.01%);
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-2 p:first-child {
  width: 100%;
  color: #FFF;
  font-family: "Manrope-Bold";
  font-size: 1rem;
  font-weight: 700;
  line-height: 20.8px;
  padding: 0;
  padding: 0px 76px 16px 24px;
}
@media (max-width: 1207px) {
  main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-2 p:first-child {
    padding: 0px 17px 18px 17px;
  }
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-2 .button-container,
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-2 .button {
  padding: 0;
  margin: 0;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-2 .button-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-2 .button {
  background: transparent;
  display: flex;
  justify-content: center;
  gap: 4px;
  color: #2E3E5C;
  font-family: "Manrope-Regular";
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-2 .button::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background-image: url(/icons/material-symbols_star.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-3 {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-3 .button-container {
  margin: 0;
  padding: 0;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-3 .button-container .button {
  background: transparent;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-wrapper .swiper-slide-cards-3 .button-container .button .icon {
  width: 42px;
  height: 54px;
  flex-shrink: 0;
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-pagination {
  bottom: -9px;
}
@media (max-width: 768px) {
  main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-pagination {
    bottom: 10px;
  }
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-pagination .swiper-pagination-bullet {
  width: 111px;
  height: 3px;
  background-color: #F6A1B6;
  border-radius: unset;
  margin: 0;
}
@media (max-width: 1025px) {
  main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-pagination .swiper-pagination-bullet {
    width: 77px;
  }
}
main > .section.why-choose-us-container .why-choose-us-wrapper .why-choose-us .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #E91A4E;
  height: 3px;
  border-radius: 20px;
  margin: 0;
}/*# sourceMappingURL=why-choose-us.css.map */