/* tab-section css start */
main>.section.tab-section {
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 94.12%;
  margin: 0 auto;
  padding-top: 54px;
  /* padding-bottom: 54px; */
}

@media (max-width:768px) {
  main>.section.tab-section {
    width: auto;
    padding: 40px 0px;
    margin: 0;
  }
}

.section.tab-section .default-content-wrapper {
  padding: 0;
  margin: 0;
  max-width: 100%;
  width: auto;
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  gap: 34px;
  align-self: stretch;
  background: #D2D8EF;
}

/* @media (max-width:768px) {
  .section.tab-section .default-content-wrapper {
    width: 100%;
  }
} */

.section.tab-section .default-content-wrapper ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 33px;
  list-style: none;
  overflow-x: auto;
}


.section.tab-section .default-content-wrapper ul::-webkit-scrollbar {
  display: none;
}

.section.tab-section .default-content-wrapper ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.section.tab-section .default-content-wrapper ul li a {
  color: #0D2042;
  font-family: "Manrope-Medium";
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  padding-right: 32px;
}

.section.tab-section .default-content-wrapper ul li::after {
  content: "";
  background-image: url(/icons/dot.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  width: 5px;
  height: 5px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.section.tab-section .default-content-wrapper ul li:last-child:after {
  display: none;
}

@media (max-width:768px) {
  .section.tab-section .default-content-wrapper {
    padding: 16px 20px;
  }

  .section.tab-section .default-content-wrapper ul {
    gap: 16px;
  }

  .section.tab-section .default-content-wrapper ul li a {
    padding-right: 16px;
  }
}

/* tab-section css start */

/* why-exchange-trand-css-start */
.section.why-exchange-traded {
  width: 100%;
}

.why-exchange-traded .default-content-wrapper {
  width: 100%;
}

.why-exchange-traded .default-content-wrapper h3 {
  font-family: Butler-bold;
  color: #2b2e8c;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -.01em;
  margin: 35px 0;
  text-align: center;
}

.why-exchange-traded .default-content-wrapper ul {
  list-style: none;
  list-style-type: none;
  text-align: center;
  max-width: 980px;
  min-height: 225px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.why-exchange-traded .default-content-wrapper ul li {
  display: inline-table;
  margin-left: 4%;
  vertical-align: middle;
  position: relative;
  width: 150px;
  height: 160px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .2);
  z-index: 22;
}

.why-exchange-traded .default-content-wrapper ul li:first-child {
  margin-left: 0;
}

.why-exchange-traded .default-content-wrapper ul::after {
  position: absolute;
  content: "";
  left: 0;
  width: 81%;
  left: 13%;
  height: 5px;
  border-bottom: 1px dashed #fb4d4d;
  z-index: -1;
  top: 35%;
}

.why-exchange-traded .default-content-wrapper ul li a {
  font-size: 13px;
  color: #21295a;
  font-family: Butler;
  font-weight: 500;
  margin: 7px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  gap: 10px;
  height: 100%;
}

.why-exchange-traded .default-content-wrapper ul li a .icon img {
  max-width: 100%;
  height: auto;
}